body {
  background-color : whitesmoke;
  width : 90%;
  margin : 0 auto
}

table td {
  border: 3px solid green;
}

img {
  text-align : center;
  display : block;
  margin : auto;
}

.header {
  text-align : center;
  margin : auto;
}

#centerButton {
  text-align : center;
  margin : 50px;
}

#ifolio {
  color : #D93028;
  font-weight : bold;
}

input {
  margin-top : 2px;
  margin-bottom : 2px;
}

select {
  margin-bottom : 3px;
}
