<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinodalias</title>
  <script src="{{url_for('static', filename='js/lib/HTML.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/HOF.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/XHR.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/PDF.js')}}"></script>
  <script src="{{url_for('static', filename='js/pdfMake/pdfmake.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/pdfMake/vfs_fonts.js')}}"></script>
  <script src="{{url_for('static', filename='js/GUI.js')}}"></script>
  <script src="{{url_for('static', filename='js/process.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pure/pure-min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body onload=GUI.createGui()>
 <div id="mainContainer"></div>
</body>
</html>
